<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg">
        <h1>
            {{ title }}
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg recent-bar">
        <recentProduct [parentData] = 'recentlyAdded'></recentProduct>
    </div>
  </div> 

<div>
  <table class="table" *ngIf = "stock.length">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor= "let item of stock">
        <td>{{item.Product}}</td>
        <td>{{item.Quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-5 input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Product</span>
          </div>
          <input type="text" id="product" class="form-control" >
        </div>
    
        <div class="col-5 input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >Quantity</span>
            </div>
            <input type="number" id="qty" min="1" class="form-control" />
          </div>
        <button class="col-2 btn btn-primary" (click)="share()">Add</button>
  </div>
    
</div>
</div>